@model IEnumerable<VillaAPI_Web.Models.Dto.VillaDTO>

<div class="text-center"> 
    <h1 class="display-4">Welcome</h1>
    <img src="https://www.myistria.com/UserDocsImages/app/objekti/1643/slika_hd/20072021120029_Villa-in-Buzet-Villa%20The%20Villa-83.jpg?preset=full3-webp" width="1100" height="600" />
    
    
</div>
